<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coupon Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        img:active {
          transform: scale(0.95);
          transition: 0.2s;
        }
    </style>
    <script>
        tailwind.config={
        darkMode:'class'
        }
    </script>

    <script>
        if(localStorage.theme==="dark"){
        document.documentElement
        .classList.add("dark");
        }
    </script>
</head>

<body class="bg-gray-800 dark:bg-slate-950 dark:text-white
dark:bg-slate-800 dark:border dark:border-slate-600
dark:text-white">

<div class="max-w-md mx-auto bg-white min-h-screen dark:bg-slate-800">

    <!-- Header -->
    <div class="bg-blue-600 text-white p-5 rounded-b-3xl
dark:bg-slate-900 dark:border-b dark:border-slate-700 p-6 rounded-b-3xl">
        <a href="/" class="text-sm">← Back</a>

        <h2 class="text-2xl font-bold mt-3" th:text="${coupon.brand}"></h2>
        <p class="text-sm opacity-80">Special Offer</p>
        <!-- Reported Badge -->
        <div th:if="${coupon.reported}"
             class="text-right">
            <span class="bg-red-400 text-white px-3 py-1 rounded">
                Reported
            </span>
        </div>
    </div>

    <!-- Card -->
    <div class="p-4 dark:bg-slate-800
                dark:border-slate-700">

        <!-- QR -->
        <div class="bg-gray-50 p-4 rounded-2xl shadow text-center
        dark:bg-slate-800 dark:border-b dark:border-slate-500 ">
            <img th:src="${coupon.qrCodeUrl}"
                 class="h-40 mx-auto object-contain"/>
        </div>

        <!-- Details -->
        <div class="mt-4">

            <h3 class="text-xl font-bold">
                <span th:text="${coupon.description}"></span>
            </h3>

            <div class="mt-4 dark:bg-slate-800 dark:border-b dark:border-slate-500 ">

                <p class="text-sm text-gray-800 mb-1 dark:text-white-800">Coupon Code</p>

                <div class="flex items-center justify-between bg-gray-100 p-3 rounded-xl">
                <span id="codeText"
                      class="font-semibold text-gray-800 dark:text-white
                                dark:placeholder-slate-400"
                      th:text="${coupon.couponCode}">
                </span>
                            <button onclick="copyCode()"
                                    class="text-blue-600 font-medium">
                                Copy
                            </button>

                </div>
                <span id="copyMsg" class="text-green-500 text-sm hidden mt-1 block">
                    Copied!
                </span>
            </div>

            <p class="text-sm text-red-500 mt-2">
                Expires on:
                <span th:text="${coupon.expiryDate}"></span>
            </p>
            <p class="text-gray-500 mt-2 dark:text-white-800">
                Use this coupon at checkout.
            </p>

            <!-- Info -->
            <div class="mt-4 space-y-2 text-sm text-gray-700 dark:text-white-800">

                <p>• Valid for limited time</p>
                <p>• One-time use only</p>
                <p>• Applicable on selected products</p>

            </div>
            <!-- Voting -->
            <div class="mt-8 flex justify-center gap-10 dark:text-white-900">

                <a th:href="@{/upvote/{id}(id=${coupon.id})}"
                   class="flex items-center gap-2 dark:text-white">

                    <img
                            th:src="${userVote == 'LIKE'} ?
'https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/like-fill_khxkl4.png'
:
'https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/like-outline_zlecui.png'"
                            class="w-6 h-6">

                    <span class="text-sm font-medium text-gray-700 dark:text-white"
                          th:text="${coupon.upvotes}">
                    0
                    </span>

                </a>

                <a th:href="@{/downvote/{id}(id=${coupon.id})}"
                   class="flex items-center gap-2">

                    <img     th:src="${userVote == 'DISLIKE'} ?
   'https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275996/dislike-fill_gzc3bs.png'
                :
   'https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/dislike-outline_lt3op5.png'"
                                class="w-6 h-6">

                    <span class="text-sm font-medium text-gray-950 dark:text-white"
                          th:text="${coupon.downvotes}">
                        0
                        </span>

                </a>


            </div>


            <!-- If redeem url exists -->
            <a th:if="${coupon.redeemNowUrl != null and !#strings.isEmpty(coupon.redeemNowUrl)}"
               th:href="@{/buy/{id}(id=${coupon.id})}"
               class="block mt-5 bg-blue-500 text-white text-center p-3 rounded-xl dark:bg-indigo-600">
                Redeem Now
            </a>

            <!-- Fallback normal use coupon -->
            <a th:if="${coupon.redeemNowUrl == null or #strings.isEmpty(coupon.redeemNowUrl)}"
               th:href="@{/buy/{id}(id=${coupon.id})}"
               class="block mt-5 bg-green-500 text-white text-center p-3 rounded-xl dark:bg-indigo-600">
                Use Coupon
            </a>

            <!-- Report -->
            <a th:href="@{/report/{id}(id=${coupon.id})}"
               class="block mt-4 text-center hover:bg-gray-300 text-sm rounded-xl p-3">
                Report this coupon
            </a>
        </div>

    </div>

</div>

<script id="bb5v3d">
    function copyCode() {
        const code = document.getElementById("codeText").innerText;
        navigator.clipboard.writeText(code);

        const msg = document.getElementById("copyMsg");
        msg.classList.remove("hidden");

        setTimeout(() => msg.classList.add("hidden"), 1500);
    }
</script>

<script>

    const likeOutline=
    "https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/like-outline_zlecui.png";

    const likeFill=
    "https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/like-fill_khxkl4.png";

    const dislikeOutline=
    "https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275997/dislike-outline_lt3op5.png"

    const dislikeFill=
    "https://res.cloudinary.com/dpxhldb4y/image/upload/v1777275996/dislike-fill_gzc3bs.png";

    let liked=false;
    let disliked=false;

    function toggleLike(){
    liked=!liked;
    if(liked){
    disliked=false;
    document.getElementById(
    "likeImg"
    ).src=likeFill;

    document.getElementById(
    "dislikeImg"
    ).src=dislikeOutline;

    pulse("likeCircle");
    }else{
        document.getElementById(
        "likeImg"
        ).src=likeOutline;
        }
    }



    function toggleDislike(){

    disliked=!disliked;

    if(disliked){

    liked=false;

    document.getElementById(
    "dislikeImg"
    ).src=dislikeFill;

    document.getElementById(
    "likeImg"
    ).src=likeOutline;

    pulse("dislikeCircle");

    }else{

    document.getElementById(
    "dislikeImg"
    ).src=dislikeOutline;

    }

    }



    function pulse(id){

    let el=document.getElementById(id);

    el.classList.add(
    "scale-125"
    );

    setTimeout(()=>{
    el.classList.remove(
    "scale-125"
    );
    },250);

    }

</script>



</body>
</html>