<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        function togglePassword(inputId) {
            const input = document.getElementById(inputId);
            const eyeOpen = document.getElementById("eyeOpen");
            const eyeClosed = document.getElementById("eyeClosed");

            if (input.type === "password") {
                input.type = "text";
                eyeOpen.classList.add("hidden");
                eyeClosed.classList.remove("hidden");
            } else {
                input.type = "password";
                eyeOpen.classList.remove("hidden");
                eyeClosed.classList.add("hidden");
            }
        }
    </script>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">

<div class="w-[350px] bg-white p-6 rounded-2xl shadow">

    <h2 class="text-xl font-bold mb-4 text-center">Login</h2>

    <form action="/login" method="post">

        <input  type="email"
                name="email"
                placeholder="Email"
                required
                class="w-full p-3 rounded-xl border mb-3">

        <div class="relative mb-3">
            <input type="password" name="password"
                   placeholder="Password"
                   id="loginPassword"
                   class="w-full p-3 rounded-xl border pr-10" required>

            <button type="button"
                    onclick="togglePassword('loginPassword')"
                    class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500">

                <!-- Eye (visible when password hidden) -->
                <svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.523 5 12 5
                     c4.477 0 8.268 2.943 9.542 7
                     -1.274 4.057-5.065 7-9.542 7
                     -4.477 0-8.268-2.943-9.542-7z"/>
                </svg>

                <!-- Eye Slash (visible when password shown) -->
                <svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 hidden" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13.875 18.825A10.05 10.05 0 0112 19
                     c-4.478 0-8.268-2.943-9.542-7
                     a9.956 9.956 0 012.042-3.368M6.223 6.223
                     A9.956 9.956 0 0112 5c4.478 0 8.268 2.943
                     9.542 7a9.97 9.97 0 01-4.132 5.411M15 12
                     a3 3 0 11-6 0 3 3 0 016 0zm6 6L3 3"/>
                </svg>
            </button>
        </div>

        <button class="w-full bg-green-500 text-white p-3 rounded">
            Login
        </button>

    </form>

    <p class="text-sm text-center mt-3">
        New user?
        <a href="/register" class="text-blue-500">Register</a>
    </p>
    <p class="text-sm text-center mt-3">
    <a href="/forgot-password">
        Forgot Password?
    </a>
    </p>

</div>


</body>
</html>
