<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">

<div class="w-[350px] bg-white p-6 rounded-2xl shadow">

    <h2 class="text-xl font-bold mb-4 text-center">Register</h2>

    <form action="/register" method="post" th:object="${user}">

        <input type="text" th:field="*{username}"
               placeholder="Username"
               class="w-full p-3 rounded-xl border mb-3" required>

        <input  type="email"
                name="email"
                placeholder="Email"
                required
                class="w-full p-3 rounded-xl border mb-3">

        <!--<input type="password" th:field="*{password}"
               placeholder="Password"
               class="w-full p-3 rounded-xl border mb-3" required>-->

        <div class="relative mb-3">
            <input type="password" th:field="*{password}"
                   placeholder="Password"
                   id="password"
                   class="w-full p-3 rounded-xl border pr-10" required>

            <button type="button"
                    onclick="togglePassword()"
                    class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500">

                <!-- Eye Icon -->
                <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.523 5 12 5
                     c4.477 0 8.268 2.943 9.542 7
                     -1.274 4.057-5.065 7-9.542 7
                     -4.477 0-8.268-2.943-9.542-7z"/>
                </svg>
            </button>
        </div>
        <button class="w-full bg-blue-500 text-white p-3 rounded">
            Register
        </button>

    </form>

    <p class="text-sm text-center mt-3">
        Already have account?
        <a href="/login" class="text-blue-500">Login</a>
    </p>

</div>

</body>
</html>
