<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="
min-h-screen
flex items-center justify-center
bg-gray-100
dark:bg-slate-950
p-6">

<div class="
w-full max-w-md
bg-white dark:bg-slate-800
rounded-3xl shadow-xl p-8">

    <h2 class="
text-3xl font-bold text-center mb-2
dark:text-white">
        Reset Password
    </h2>

    <p class="
text-center text-gray-500
dark:text-slate-300
mb-6">
        Create your new password
    </p>

    <form
            action="/reset-password"
            method="post"
            class="space-y-5">

        <input
                type="hidden"
                name="email"
                th:value="${email}">


        <input
                type="password"
                name="password"
                placeholder="New Password"
                required
                class="
w-full p-4 rounded-2xl border
dark:bg-slate-700
dark:text-white">


        <button
                class="
w-full bg-green-600
hover:bg-green-700
text-white p-4 rounded-2xl
font-semibold">
            Reset Password
        </button>

    </form>

</div>

</body>
</html>