<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reveal Coupon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config={
            darkMode:'class'
        }
    </script>

    <script>
        if(localStorage.theme==="dark"){
            document.documentElement
                .classList.add("dark");
        }
    </script>
    <meta http-equiv="Cache-Control"
          content="no-cache,no-store,must-revalidate">

    <meta http-equiv="Pragma"
          content="no-cache">
</head>

<body class="bg-gray-100
flex items-center justify-center
min-h-screen dark:bg-slate-800 dark:text-white dark:border-slate-600">

<nav class="fixed top-0 left-0 w-full bg-white dark:bg-gray-900 shadow-md z-50">
    <div class="max-w-6xl mx-auto flex justify-end p-4">
        <a href="/"
           class="bg-indigo-600 text-white px-4 py-2 rounded-xl
              hover:bg-indigo-700 dark:text-black">
            Home
        </a>
    </div>
</nav>

<div class="bg-white p-8 rounded-3xl shadow
text-center max-w-md">

    <h2 class="text-2xl font-bold mb-6 dark:text-black-900">
        Coupon Unlocked
    </h2>

    <div class="text-3xl font-mono
            bg-green-50 p-4 rounded-2xl mb-5 dark:text-black-800"
                     th:text="${coupon.couponCode}">
                </div>

    <button
            onclick="copyCode()"
            class="bg-gray-900 text-white px-5 py-3 rounded-full">
        Copy Code
    </button>

</div>

<script>
    function copyCode(){
        navigator.clipboard.writeText(
            '[[${coupon.couponCode}]]'
        );
        alert("Copied");
    }
</script>


<script>

    history.pushState(
        null,
        null,
        location.href
    );

    window.onpopstate=function(){

        window.location.replace("/");

    };

</script>
</body>
</html>